<!DOCTYPE html>
<html>
  <head>
    <title>Benchbnb</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyArC_ADvcixcHOy_p6To7hQpIweEXlMK_I" %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
